div {
  width: 200px;
  height: 150px;
  position: relative;
  transition: 1s;
  margin: 5px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  display: inline-block;
}

.wiz{
  margin-left: -140px;
}

.wrapper{
  perspective: 600px;
}

.leftWizard{
  transform: rotateY(40deg);
  opacity: 2;
}

.rightWizard{
  transform: rotateY(-40deg);
  opacity: 2;
}

div.wiz:hover{
  z-index: 999;
  transform: scale(1.2);
}

div.rightWizard:hover{
  margin-left: 0px;
}

div.leftWizard:hover{
  margin-right: 160px;
}
.center{
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  z-index: 10;
}
