div .s {
  display: inline-block;
  position: relative;
}

.wiz{
  margin-left: -140px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  height: 150px;
  transition: 0.7s;
}

.wrapper{
  perspective: 600px; 
  padding-left: 500px;
}

.leftWizard{
  transform: rotateY(40deg);

}

.rightWizard{
  transform: rotateY(-40deg);

}

div.wiz:hover{
  transform: scale(1.2);
}

div.rightWizard:hover{
  margin-left: 0px;
}

div.leftWizard:hover{
  margin-right: 160px;
}
.center{
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  z-index: 10;
}
